@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Slab", sans-serif;
}

body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 150px;
    padding-left: 5%;
    padding-right: 5%;
    box-shadow: 2px 2px 2px 2px #d4d4d4;
}

.restaurant-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.restaurant-name {
    font-size: 42px;
    font-weight: bold;
    color: #7f1d1d;
    letter-spacing: .25ch;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

button {
    width: 150px;
    font-size: 18px;
    font-weight: bold;
    color: black;
    letter-spacing: .25ch;
    border-radius: 20px;
    border: none;
}

button:hover, .active {
    color: #7f1d1d;
}

#content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 25px;
    height: 1000px;
    width: 90%;
    background-image: url(./assets/korean-cuisine.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    border: 2px solid white;
}

.headline {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: white;
    padding: 25px;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    font-style: italic;
    letter-spacing: .25ch;
}

.description {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 25px;
    color: black;
    background-color: white;
    width: 500px;
    height: 300px;
    padding: 20px;
    border-radius: 50px;
    box-shadow: 2px 2px 2px 2px #d4d4d4;
    font-size: 20px;
    letter-spacing: .25ch;
}

footer {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 75px;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px -4px 3px #d4d4d4;
}

p {
    font-size: 20px;
}

.github-link {
    text-decoration: none;
}

.github-link:visited {
    color: black;
}

.github-link:hover {
    color: #7f1d1d;
}

.github-icon {
    width: 24px;
    height: 24px;
    margin-left: 5px;
}